ae-ffmpeg==1.1.1
argcomplete==3.1.1
auto-editor==22.39.1
av==9.2.0
boltons
brotlipy==0.7.0
certifi
cffi
charset-normalizer
cryptography
idna
ffmpeg
openai
pyyaml
pyperclip
pynput
desktop_notifier
soundfile
pyaudio
jsonpatch
jsonpointer==2.1
numpy>=1.22.0
packaging
pandas>=1.2
Pillow==9.2.0
pluggy
prompt-toolkit==3.0.39
pycosat
pycparser
pyOpenSSL
PySocks
PyYAML==6.0.1
requests
ruamel.yaml
six
tomlkit==0.12.1
toolz
tqdm
urllib3
wcwidth==0.2.6
xmltodict==0.13.0
zstandard

